.project-card {
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #444;
    background-image: linear-gradient(to bottom right, #333, #777);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    transition: all 0.2s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card-content {
    position: relative;
    margin: 1rem;
    margin-left: 2rem;
    height: 120px;
}

.project-card-content h2 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.project-card-status {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #BBB;
    font-size: 1rem;
}

.project-classified {
    color: rgb(130, 55, 55);
}

.project-card-small {
}

.project-card-medium {
    grid-column: 1 / -1;
}

.project-card-large {
    grid-column: 1 / -1;
}

@media (min-width: 800px) {
    .project-card-large .project-card-content {
        height: 200px;
    }
}