.member-card {
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    max-width: 300px;
}

.member-card img {
    width: 100%;
}

.member-card-content {
    margin: 1rem;
}

.member-card-content p {
    color: #444;
    font-weight: 300;
}

.member-card-social {
    text-align: center;
}

.member-card-icon {
    font-size: 2rem;
    color: #333;
    padding: 1rem;
}