@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400');

body {
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h1 {
    color: #333;
}

h1, h2, h3 {
    font-weight: 300;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}