footer {
    max-width: 100%;
    color: white;
    font-weight: 100;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

footer div {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    min-width: 200px;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    cursor: pointer;
}

@media (max-width: 550px) {
    .footer {
        grid-template-columns: 1fr;
    }
}