#our-team {
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
}

.member-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
}

@media (min-width: 600px) {
    .member-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .member-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .member-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}