.projects-content {
    max-width: 800px;
}

@media (min-width: 800px) {
    .projects-content h1 {
        text-align: center;
    }
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}

@media (max-width: 800px) {
    .project-cards {
        grid-template-columns: 1fr;
    }
}